<div class="avatar row">
    <img src="/assets/logo/default-avatar.svg" alt="AVATAR">
    <div class="avatar-info col">
        <p class="name">admin@una-desk.com</p>
        <p class="name">Admin</p>
    </div>
</div>

<div class="actions row">
    <button pButton class="p-button-text p-button-rounded p-button-icon-only">
        <img src="/assets/logo/rocket.svg">
    </button>
    <button pButton class="p-button-text p-button-rounded p-button-icon-only">
        <img src="/assets/logo/info.svg">
    </button>
    <button pButton class="p-button-text p-button-rounded p-button-icon-only">
        <i class="pi pi-bell" style="font-size: 1.5rem; color: grey" ></i>
        <!-- <img src="/assets/logo/notifications.svg"> -->
    </button>
    <button pButton class="p-button-text p-button-rounded p-button-icon-only">
        <img src="/assets/logo/ru.svg">
    </button>
</div>

<img src="/assets/images/fake-logo.png" alt="LOGO" class="logo">
