<form class="col" [formGroup]="myForm" (ngSubmit)="submit()">
    <div class="container">

        <div class="info col">
            <h2>Основные данные</h2>
    
            <div class="controls four">
                <div class="form-item col">
                    <label> <span class="required">*</span> Роль </label>
                    <p-dropdown formControlName="role" [options]="roleOptions"></p-dropdown>
                </div>
                <div class="form-item col">
                    <label> <span class="required">*</span> Фамилия </label>
                    <input formControlName="lastName" pInputText type="text">
                </div>
                <div class="form-item col">
                    <label> <span class="required">*</span> Имя </label>
                    <input formControlName="firstName" pInputText type="text">
                </div>
                <div class="form-item col">
                    <label> Отчество </label>
                    <input formControlName="middleName" pInputText type="text">
                </div>
            </div>
        </div>
    
        <div class="info col">
            <h2>Контактные данные</h2>
            <div class="controls four">
                <div class="form-item col">
                    <label> <span class="required">*</span> E-mail </label>
                    <input formControlName="email" pInputText type="text">
                </div>
                <div class="form-item col">
                    <label> <span class="required">*</span> Телефон </label>
                    <p-inputMask formControlName="phone" mask="+7 (999) 999-99-99"></p-inputMask>
                </div>
                <div class="form-item col">
                    <label> Город </label>
                    <!-- <input formControlName="city" pInputText type="text"> -->
                    <p-autoComplete formControlName="city" [suggestions]="filteredCities" (completeMethod)="filterCity($event)" field="label"></p-autoComplete>
                </div>
                <div class="form-item col">
                    <label> Адрес </label>
                    <input formControlName="address" pInputText type="text">
                </div>
            </div>
        </div>
    
        <div class="info col">
            <h2>Сведения о работе</h2>
    
            <div class="controls three">
                <div class="form-item col">
                    <label> <span class="required">*</span> Должность </label>
                    <input formControlName="position" pInputText type="text">
                </div>
                <div class="form-item col">
                    <label>Подразделение </label>
                    <input formControlName="department" pInputText type="text">
                </div>
                <div class="form-item col">
                    <label>Руководитель </label>
                    <input formControlName="supervisor" pInputText type="text">
                </div>
            </div>
        </div>
        <div class="btns row">
            <button pButton type="submit" label="Сохранить"  [disabled]="myForm.invalid"></button>
            <button pButton type="button" label="Изменить пароль" class="p-button-outlined"></button>
        </div>
    </div>
</form>

<form class="col form" [formGroup]="form" (ngSubmit)="submitForm()"> 
    <div class="container">
        <div class="info col">
            <h2>Дополнительная информация</h2>

            <div class="controls three">
                <div class="form-item col">
                    <label><span class="required">*</span>Имя</label>
                    <span class="p-float-label">
                        <input formControlName="userName" id="float-input" type="text" pInputText> 
                        <label for="float-input">Username</label>
                    </span>
                </div>
                <div class="form-item col">
                    <label>Описание</label>
                    <textarea formControlName="description" pInputTextarea></textarea>
                </div>
                <div class="form-item col">
                    <label>Роль</label>
                    <p-dropdown formControlName="role" [options]="role2" [(ngModel)]="selectedRole" optionLabel="name"></p-dropdown>
                </div>
            </div>
        </div>
        <div class="btns row">
            <button pButton type="submit" label="Сохранить"  [disabled]="form.invalid"></button>
        </div>
    </div>
</form>