.container {
    display: flex;
    flex-direction: column;
    gap: 50px;

    .info {
        gap: 30px;

        .controls {
            display: grid;
            gap: 30px;

            &.four {
                grid-template-columns: repeat(4, 1fr);
            }

            &.three {
                grid-template-columns: repeat(3, 1fr);
            }

            .form-item {
                gap: 5px;
            }
        }
    }

}
.form {
    margin-top: 50px;
}
