* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Raleway';
    color: var(--text-color);
    line-height: 1.5;
    background-color: white;
}

.p-component {
    font-family: 'Raleway';
}

.container {
    width: 100%;
    max-width: 1920px;
    padding: 0 50px;
    margin: 0 auto;
}

.row {
    display: flex;
    gap: 15px;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h2 {
    font-weight: 600;
    font-size: 24px;
}

h4 {
    font-weight: 600;
    font-size: 16px;
}

label {
    font-size: 14px;

    span.required {
        color: var(--accent-color);
        font-weight: 600;
    }
}

.red {
    color: var(--red-color);
}

// SCROLLING

::-webkit-scrollbar-track {
    padding: 40px 0;
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: var(--very-light-grey-color);
    border: 1px solid var(--light-grey-color);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: var(--main-color);
}