@font-face {
    font-family: "Raleway";
    font-weight: 400;
    src: url('/assets/font/Raleway-Regular.ttf');
}

@font-face {
    font-family: "Raleway";
    font-weight: 600;
    src: url('/assets/font/Raleway-SemiBold.ttf');
}